@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(
      to right,
      rgba(24, 40, 72, 0.9),
      rgba(75, 108, 183, 0.9)
    ),
    url(https://images.unsplash.com/photo-1533709752211-118fcaf03312?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60)
      center/cover no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
}

#root {
  width: 50%;
  max-width: 300px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 16px;
  border: solid 5px #1f2e4d;
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.2);
}
